/*All page CSS*/

/*fonts*/
@font-face{
    font-family:DancingScript-Regular;
    src:url(../fonts/Dancing_Script/DancingScript-Regular.ttf);}

@font-face{
    font-family:Prata-Regular;
    src:url(../fonts/Prata/Prata-Regular.ttf);}

@font-face{
    font-family:Rubik-Regular;
    src:url(../fonts/Rubik/Rubik-Regular.ttf);}

html {
  font-size: 10px; }

body {
  font-size: 24px;
  font-family:Rubik-Regular, sans-serif;
  color: #afafaf;
  line-height: 1.4;
  font-weight: 400;
  overflow-x: auto;
  overflow-y: auto; }

  h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: #ffffff;
  font-family:Prata-Regular, sans-serif; }

p {
  font-size: 24px;
  color: #afafaf;
  font-weight: 400;
  line-height: 1.6; }


input::input-placeholder, textarea::input-placeholder {
  color: #afafaf; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  max-width: 100%; }

a:hover {
  color: #a8741a !important;
  text-decoration: none; 
  cursor: pointer;}


a, a:hover, a:focus, a:active, button, button:focus,
input, select, textarea, .slick-slide, .slick-slide:focus, .slick-slide:active {
  outline: none; }

button {
  cursor: pointer; }

/*start Header*/
a{
  color: #afafaf;
}

.bg-shaft {
  background-color: #242424; }

.header-top {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #2d2d2d; }

.header-top-nav__item {
    padding: 0 32px;
    border-left: 1px solid #2d2d2d;
    line-height: 1.2; }

.header-top-nav__item:last-child {
    border-right: 1px solid #2d2d2d; }

.header-top-1 .header-top-nav__item:first-child {
    border-left: 0;
    padding-left: 0; }

.header-top-1 .header-top-nav__item:last-child {
    border-right: 0;
    padding-right: 0; }

.header-top-1 {
    padding: 0;
    position: relative; }

.header-top-1 .header-top-nav__item:nth-child(2) {
      border-left: 0;
      padding-left: 0; }

.header-top-1 .header-top-nav__item:last-child {
      border-right: 0;
      padding-right: 0; }

.header-text {
  color: #fff;
  margin: 0;
  font-size: 12px; }

@media (max-width: 990px) {
    .header-text {
      padding: 24px 0;
      border-bottom: 1px solid #2d2d2d;
      width: 100%;
      text-align: center; } }

.header-text span {
    color: #a8741a; }

.header-middle {
  border-bottom: 1px solid #2d2d2d; }

.header-toolbar {
  display: box;
  display: flex;
  box-pack: end;
  justify-content: flex-end; }

.header-toolbar-icons {
    display: box;
    display: flex;
    box-pack: end;
    justify-content: flex-end;
    margin-left: 8px; }

.header-toolbar-icons li {
      display: inline-block; }

.header-toolbar-icons li .bordered-icon {
        min-width: 72px;
        height: 45px;
        line-height: 68px;
        text-align: center;
        display: box;
        display: flex;
        box-pack: center;
        justify-content: center;
        box-align: center;
        align-items: center;
        color: #ffffff;
        border-radius: 4px;}

.header-toolbar-icons li:nth-child(2) {
        margin: 0 -17px 0 -16px; }

.header-toolbar .header-toolbar-icons {
    margin-left: 16px; }

.search-form {
  display: flex;
  align-items: center;}


.dropdown-item{
  color: #ffffff;
  padding: 10px;
}

.dropdown-menu {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  right: 0 !important;
  left: auto !important;
  min-width: 16rem;
  z-index: 99999999;
  background: #343434;
  cursor: pointer;
  margin-right: 2px;
  font-size: 15px;}


.search-form__input {
    height: 45px;
    width: 100px;
    font-size: 20px;
    color: #fff;
    padding-left: 15px;
    border: 1px solid #2d2d2d;
    background-color: #242424;
    border-right: 0; }

.fas:hover{
    color: #a8741a;}

.search-form__submit {
    width: 75px;
    height: 45px;
    line-height: 65px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 0 4px 4px 0px;
    background-color: #242424;
    border: 1px solid #2d2d2d; }
  
.header-bottom {
  border-bottom: 1px solid #2d2d2d; }

.contact-info {
  display: flex;
  box-align: center;
  align-items: center; }

.contact-info p {
    margin-bottom: 0;
    font-size: 20px;
    padding-left: 24px;
    line-height: 1; }

.mr-20 {
  margin-right: 36px !important; }

/*Social Icon*/
.social-round .social__item:not(:last-child) {
  margin-right: 3.2px; }

.social-round .social__link {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #2f2f2f;
  color: #afafaf;
  font-size: 18px; }

.social-round .social__link:hover {
    color: #fff !important; }

.social__item {
  display: inline-block; }

.social__item:not(:last-child) {
    margin-right: 48px; }

.social__link {
  display: block;
  color: #838383;
  font-size: 28.8px; }

.header-top-nav__item.currency-selector {
        text-align: right; }

#currencyID, #languageID, #userID{
    font-size: 15px;
    color: #ffffff;}

.user-info{
    line-height: 25px;
}

/*firstheader and middle area ends here */

/*bottomheader area ends here */
.header-bottom {
  border-bottom: 1px solid #2d2d2d; }

.mainmenu__item  a {
    padding: 10px 30px;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    text-transform: capitalize;
    font-weight: 400;
    display: block;
    font-family: Prata-Regular, sans-serif; }

.mainmenu__item {
    display: inline-block;
    font-size: 22.4px;
    font-weight: 400;
    line-height: 38.4px;
    text-transform: capitalize;
    color: #afafaf; }

.mini-cart-icon {
    font-size: 25px;
    color: #fff;
    display: inline-block;
    line-height: 2;
    border-right: 1px solid #323232;
    padding: 0 16px 0 27px; }

.bg-light{
  background-color: #242424 !important;
}

.mainmenu__item{
  padding-left: 70px !important;
}

.mainmenu__link{
  color: #ffff !important;
  padding-right: 10px !important;
}

.navbar-light .navbar-toggler{
  background-color: #A8741A !important;
  font-size: 20px !important;
}


.breadcrumb-area .breadcrumb li.current a, .breadcrumb-area .breadcrumb li a:hover{
  color: #a8741a;
  background-color:#0000;}

.tweet i, .tweet a, .dropdown-item:hover{
  color: #a8741a;
  background-color:#0000;}


.corporate-2:hover i{
  color: #a8741a;
  background-color:#0000;} 

.header-toolbar-icons li .bordered-icon:hover, .contact-info p, 
.copyright-text a, .copyright-text a:hover, .recent-post-content h4 a:hover{
  color: #a8741a;
  background-color:#0000;
  }

.mainmenu__item.active > a, .mainmenu__item.active > a:after, .mainmenu__item > a:hover, .mainmenu__item >
a:hover:after, .mini-cart__ammount i, .homepage-slider .single-slider .slider-content h5, 
.homepage-slider .single-slider .slider-content p strong, .static-slider .single-static-slide 
.static-slide-text p, .account-form h4, .search-form__submit:hover{
  color: #a8741a;
  background-color:#0000;
  } 


.product-rating i.theme-star, .widget-product .product-rating i, .widget-product .product-price-wrapper > span,
.ratings i.rated, .product-modal .product-detail-list li a, .product-modal .product-price .sale-price, 
.nav-top .slick-btn:hover i, .product-tab__link.nav-link:hover{
  color: #a8741a;
  background-color:#0000;}


.product-tab__link.nav-link.active,.user-dashboard-tab__head .nav-link.active, .promo__name, .promo__link,
.banner__notice, .banner__label, .banner__name span, .accordion__link:hover{
  color: #a8741a;
  background-color:#0000;} 

.blog__meta p a, .blog .read-more, .post-title a:hover{
  color: #a8741a;
  background-color:#0000;} 

.post .footer-meta a:hover, .cart-calculator-table td .price-ammount, 
.order-table .table tr.order-total td span, .comment .reply, .error h1, .product-details-content 
.ratings-wrap a:hover, .product-details-list li a, .product-details-price-wrapper > span,
.product-details-action-bottom a:hover, .product-details-slider .slick-btn:hover {
  color: #a8741a;
  background-color:#0000;  }

/*all Header Area End*/

/*main boday shop start*/
.bg--2 {
  background-color: #343434; }

.breadcrumb-area {
  padding-top: 64px;
  padding-bottom: 50px; }
 
.breadcrumb-area .page-title {
    font-size: 50px;
    text-transform: capitalize; }
    
.breadcrumb-area .breadcrumb {
    margin-bottom: 0;
    background-color: transparent;
    padding: 0; }

.breadcrumb-area .breadcrumb li {
      display: inline-block; }

.breadcrumb-area .breadcrumb li {
        padding-right: 18px;
        margin-right: 8px; }

.breadcrumb-area .breadcrumb li:not(:last-child):after {
          content: '/';
          right: 0;
          top: 1px; }

.breadcrumb-area .breadcrumb li a {
        font-size: 30px; }

.breadcrumb-area .breadcrumb li.current a, .breadcrumb-area .breadcrumb li a:hover, .tweet i, .tweet a,
.dropdown-item:hover{color: #a8741a;
  } 

.corporate-2:hover i, .header-toolbar-icons li .bordered-icon:hover, .contact-info p,
.copyright-text a, .copyright-text a:hover, .recent-post-content h4 a:hover{
  color: #a8741a;} 

.mainmenu__item.active > a, .mainmenu__item.active > a:after, .mainmenu__item > a:hover,
.mainmenu__item > a:hover:after,.mini-cart__ammount i, .homepage-slider .single-slider .slider-content h5,
.homepage-slider .single-slider .slider-content p strong, .static-slider .single-static-slide .static-slide-text p,
.account-form h4, .search-form__submit:hover{
  color: #a8741a;} 

.product-rating i.theme-star, .widget-product .product-rating i,.widget-product .product-price-wrapper > span,
.ratings i.rated, .product-modal .product-detail-list li a,.product-modal .product-price .sale-price, .nav-top .slick-btn:hover i{
  color: #a8741a;}

.product-tab__link.nav-link:hover, 
.product-tab__link.nav-link.active, .user-dashboard-tab__head .nav-link.active, .promo__name, .promo__link, 
.banner__notice, .banner__label, .banner__name span, .accordion__link:hover, .blog__meta p a, 
.blog .read-more, .post-title a:hover, .post .footer-meta a:hover, .cart-calculator-table td .price-ammount, 
.order-table .table tr.order-total td span, .comment .reply, .error h1, .product-details-content 
.ratings-wrap a:hover, .product-details-list li a, .product-details-price-wrapper > span, 
.product-details-action-bottom a:hover, .product-details-slider .slick-btn:hover {
  color: #a8741a; }

.scroll-to-top, .tooltip-inner, .pagination li a:hover, 
.pagination li a.current, .btn-style-1:hover, .btn-style-2, .btn-style-3, .homepage-slider .slick-btn:hover,
.homepage-slider .slick-dots li.slick-active button:before, .homepage-slider .slick-dots li button:hover:before,
.form__submit:hover, .product-label.discount, .product-action a:hover, .comment .reply:hover, .primary-bg {
  background-color: #a8741a; }

.breadcrumb-area .breadcrumb li:not(:last-child):after, .breadcrumb-area .breadcrumb li a, .pagination li a,
.corporate-2 i, .footer-widget .widget-menu a, .footer-menu a, .filter-layered ul li span, .filter-input label,
.sidebar-widget .widget_conent .searchform__input, .recent-post-content h4 a, .recent-post-content p a,
.static-slider .single-static-slide .static-slide-text a, .form .nice-select .nice-select-search-box input,
.search-form__input, .newsletter-form__input, .newsletter-form-2 input[type="email"], .newsletter-form-2 button,
.popup-subscribe-form input[type="email"], .product-action a, .nav-top .slick-btn, 
.accordion__link, .accordion__link:not([href]):not([tabindex]), .accordion__body, .post-title a, 
.post-content blockquote, .comment-author a, .fact__content p, .product-details-content .ratings-wrap a, 
.product-details-price-wrapper > span.product-price-old, .product-details-slider .slick-btn {
  color: #afafaf; }


.shop-toolbar {
  padding: 13px 24px;
  margin-bottom: 32px;
  border: 1px solid #2d2d2d;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; 
  font-size: 15px;}
    
.shop-toolbar .product-showing, .shop-toolbar .product-short {
    display: flex;
    align-items: center; }
   
.shop-toolbar .product-showing .select-label, .shop-toolbar .product-short .select-label {
      margin-bottom: 0;
      margin-right: 16px; }

.shop-toolbar .product-showing .nice-select, .shop-toolbar .product-short .nice-select {
      border-radius: 0;
      border: none;
      height: 30px;
      line-height: 48px;
      background: #333333;
      color: #afafaf;
      z-index: 999;
      border-radius: 5px; }

.shop-toolbar .product-showing .nice-select .list, .shop-toolbar .product-short .nice-select .list {
        border-radius: 0;
        left: auto;
        right: 0;
        padding-top: 0;
        background: #333333;
        color: #afafaf; }

.shop-toolbar .product-showing .nice-select .nice-select-search-box, .shop-toolbar .product-short .nice-select .nice-select-search-box {
        display: none; }

.shop-toolbar .product-showing .select-label, .shop-toolbar .product-short .select-label {
      margin-bottom: 0;
      margin-right: 1rem; }

.shop-toolbar .product-short .nice-select .list {
      width: 270px; }

.shop-toolbar .product-pages {
    font-size: 1.4rem; }


.shop-toolbar .product-showing .nice-select, .shop-toolbar .product-short .nice-select {
      border-radius: 0;
      border: none;
      height: 3.2rem;
      line-height: 3rem;
      background: #333333;
      color: #afafaf;
      z-index: 999;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px; }

 .shop-toolbar .product-showing .nice-select {
    width: 7.6rem; }

    .shop-toolbar .product-showing .nice-select .list {
      width: 7.6rem; }
    .shop-toolbar .product-short .nice-select .list {
      width: 16.8rem; }
      .shop-toolbar .product-showing .nice-select .list, .shop-toolbar .product-short .nice-select .list {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        left: auto;
        right: 0;
        padding-top: 0;
        background: #333333;
        color: #afafaf; }
      .shop-toolbar .product-showing .nice-select .nice-select-search-box, .shop-toolbar .product-short .nice-select .nice-select-search-box {
        display: none; }

.shop-toolbar .product-showing, .shop-toolbar .product-short {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }

.product-view-mode {
  border-right: 1px solid #2d2d2d; }

.product-view-mode a {
    display: inline-block;
    width: 28px;
    height: 18px;
    margin-right: 10px;
    text-indent: -999999px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
    background-position: center; }
    
.product-view-mode a.grid-2 {
      background-image: url(../img/bkg_grid2.png);
      display: none; }
     
.product-view-mode a.grid-3 {
      background-image: url(../img/bkg_grid3.png); }

.product-view-mode a.grid-3:hover, .product-view-mode a.grid-3.active {
        background-image: url(../img/bkg_grid3_hover.png); }
      
.product-view-mode a.grid-4 {
      background-image: url(../img/bkg_grid4.png);
      display: inline-block; }
     
.product-view-mode a.grid-4:hover, .product-view-mode a.grid-4.active {
        background-image: url(../img/bkg_grid4_hover.png); }

.product-view-mode a.grid-5 {
      background-image: url(../img/bkg_grid5.png);
      display: inline-block; }
      
.product-view-mode a.grid-5:hover, .product-view-mode a.grid-5.active {
        background-image: url(../img/bkg_grid5_hover.png); }

.product-view-mode a.list {
      background-image: url(../img/bkg_list.png); }

.product-view-mode a.list:hover, .product-view-mode a.list.active {
        background-image: url(../img/bkg_list_hover.png); }


.sidenav-button.sidenav-close, .filter-input label:before,
.sidebar-widget .widget_conent .searchform__submit, .homepage-slider .slick-btn, 
.homepage-slider .slick-dots, .homepage-slider .slick-dots li button:before, 
.static-slider .single-static-slide .static-slide-text, .custom-checkbox label:before, 
.newsletter-form-2 button, .product-img .secondary-image, .product-img-overlay, .nav-top .slick-btn, 
.nav-vertical-center .slick-btn, .nav-horizontal-center .slick-btn, .promo__content, .comment .reply {
  position: absolute; }

.pagination {
  background: transparent;
  justify-content: flex-end; }

.pagination-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 28px;
    border: 1px solid #2d2d2d; 
    font-size: 15px;}

.pagination-wrap .page-ammount {
      margin-bottom: 0; 
      font-size: 15px;}
     
.pagination li:not(:last-child) {
    margin-right: 16px; }

.pagination li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    background-color: #343434; }


.pagination li a:hover, .pagination li a.current {
      color: #fff !important; }
      
a, button, .corporate-2 i, .sidenav-button, .sidenav-button span, .sidenav-wrapper, .filter-input label:before, 
.vertical-menu li.vertical-has-children > a:after, .homepage-slider .slick-dots li button:before, .product-img img, 
.nav-top .slick-btn, .nav-vertical-center .slick-btn, .nav-horizontal-center .slick-btn, .banner-static a:before, 
.shop-product-wrap > [class*="col-"] {
  transition: all 0.3s ease-in; }


.section-title:before, .sidenav-button span:before, .sidenav-button span:after, .mobile-menu .mean-bar:before, 
.mini-cart__dropdown-menu:before, .static-slider .single-static-slide .static-slide-image:before, 
.product-tab__head:before, .promo__box:before, .banner-static a:before {
  position: absolute;
  content: ""; }

.homepage-slider .slick-btn, .static-slider .single-static-slide .static-slide-image:before, 
.product-img .secondary-image, .product-img-overlay .btn, .karora-product:hover .primary-image, 
.karora-product:hover .product-price-wrapper, .karora-product-list:hover .primary-image, .modal, .promo__box:before, 
.post-gallery .slick-btn, .product-details-thumbnail .slick-arrow {
  visibility: hidden;
  opacity: 0; }

.homepage-slider:hover .slick-btn, .static-slider .single-static-slide:hover .static-slide-image:before, 
.karora-product:hover .secondary-image, .karora-product:hover .single-image .primary-image, .karora-product:hover 
.product-img-overlay .btn, .karora-product-list:hover .secondary-image, .karora-product-list:hover .single-image 
.primary-image, .karora-product-list:hover .product-img-overlay .btn, .modal.show, .promo:hover .promo__box:before, 
.post-gallery:hover .slick-btn, .product-details-thumbnail .thumb-menu:hover .slick-btn {
  visibility: visible;
  opacity: 1; }




.product-details-thumb-large.vertical .product-img {
      margin-bottom: 0; }

.product-img {
  position: relative; }

.product-img .primary-image {
    margin: 0 auto; }

.product-img .secondary-image {
    left: 50%;
    top: 0;
    transform: translateX(-50%); }

.product-img-overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px; }

.btn-style-1:hover {
    color: #fff !important; }

.btn-style-1 {
    color: #fff !important;
    background-color: #242424;
    border: 2px solid #a8741a; 
    padding:15px 30px;
    font-size: 20px;
    margin-top: 80px;
    border-radius: 10px;}

.product-label {
  font-weight: 400;
  text-align: center;
  width: 50px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 36px;
  padding: 0 16px;
  background: #343434;
  border-radius: 3px; }

.banner-static a {
  display: inline-block; }

.banner-static a:before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
    z-index: 1; }

.banner-static a:hover:before {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.24); }

.banner-static a:hover {
  transform: scale3d(1.05, 1.05, 1.05); }


.product-action {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0; }

.product-action a {
    min-width: 30px;
    min-height: 30px;
    line-height: 30px;
    background-color: #2e2e2e;
    text-align: center;
    border-radius: 3px; }


.product-action a.add_cart {
      padding: 0 10px;
      font-size: 16px;
      margin: 0 10px; }

.product-action a.add_cart span {
        font-size: 16px; }

.product-action a:hover {
      color: #fff !important; }


.search-filter > div {
  margin-bottom: 48px; }
 

.search-filter  div:nth-child(2n+1) {
        padding-right: 24px; }

.search-filter > div:nth-child(2n+2) {
        padding-left: 24px; } }


.search-filter > div:nth-child(2n+1) {
        padding-right: 0; }

.search-filter > div:nth-child(2n+2) {
        padding-left: 0; } }


.filter-layered ul li span {
  font-size: 15px; }

.filter-layered ul li a {
  float: right;
  color: red;
  width: 20px;
  height: 20px; }

.filter-heading {
  font-size: 28px;
  margin-bottom: 32px; }

.filter-list li {
  display: block;
  font-size: 18px; }

.filter-list li:not(:last-child) {
    margin-bottom: 16px; }


.filter-input label {
  font-size: 18px;
  margin-bottom: 0;
  padding-left: 35px; }

.filter-input label:before {
    left: 0;
    top: 3px;
    width: 24px;
    height: 24px;
    background-color: transparent; }


.filter-checkbox label {
  font-family: ElegantIcons;
  font-size:18px; }

/*product*/



/*Products Tab area Start*/



.shop-product-wrap.grid .karora-product {
    display: block; }

.shop-product-wrap.grid .karora-product-list {
    display: none; }

.shop-product-wrap {
  margin-left: -15px;
  margin-right: -15px; }


.shop-product-wrap.grid.gridview-2 > [class*="col-"] {
    flex: 0 0 50%;
    max-width: 50%; }
    
.shop-product-wrap.grid.gridview-3 > [class*="col-"] {
    flex: 0 0 33.33333%;
    max-width: 33.333333%; }
    
.shop-product-wrap.grid.gridview-4 > [class*="col-"] {
    flex: 0 0 25%;
    max-width: 25%; }
    
.shop-product-wrap.grid.gridview-5 > [class*="col-"] {
    flex: 0 0 20%;
    max-width: 20%; }
    
.shop-product-wrap.grid.gridview-5 > [class*="col-"] .karora-product .product-action .add_cart span {
      display: none; }

.shop-product-wrap.grid.gridview-5 > [class*="col-"] .karora-product .product-action .add_cart:before {
      display: block; }

.shop-product-wrap.grid.gridview-5 > [class*="col-"] .karora-product .product-price-wrapper > span {
      font-size: 24px; }

.shop-product-wrap.grid.gridview-5 > [class*="col-"] .karora-product .product-price-wrapper > span.product-price-old {
        font-size: 20px; }

.shop-product-wrap.listview .karora-product {
    display: none; }

.shop-product-wrap.listview .karora-product-list {
    display: block; }

.shop-product-wrap.listview > [class*="col-"] {
    flex: 1 0 100%;
    width: 100%;
    max-width: 100%; }

.shop-product-wrap .karora-product {
    margin: 0 0; }

.shop-product-wrap .karora-product-list {
    margin-bottom: 1rem; }


.karora-product {
  padding: 10px;
  margin: 10px;
  background: #242424;
  border-radius: 4px;
  position: relative;
  text-align: left;
  word-wrap: break-word;
  display: inline-block;}

.karora-product:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); }

.karora-product:hover .karora_product_action {
      top: 88%;
      left: 10%;
      opacity: 1;
      visibility: visible;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3); }

.karora_product_action {
  width: 90%;
  top: 40%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  padding:0 10px;
  border-radius: 0px 0px 4px 4px;
  margin: 0 -20px;
  background: #242424; }


.karora-product-list {
  overflow: hidden;
  margin: 0 24px;
  padding: 24px 0; }

.product-img {
  position: relative;
  width: 265px; }


.karora-product-list .product-img {
    float: left;
    width: 20%;
    max-width: 60px; }

.karora-product-list .product-img img {
      width: 100%; }

.product-img .primary-image {
    margin: 0 auto; }

.product-img .secondary-image {
    left: 50%;
    top: 0;
    transform: translateX(-50%); }

.karora-product-list .product-content {
    width: 60%;
    float: left;
    padding: 0 0 0 3rem; }

.karora-product-list .product-content h4 {
      background: none;
      padding-bottom: 0; }

.karora-product-list .product-desc {
    margin-top: 16px; }

.karora-product-list .product-action {
    padding: 0;
    box-pack: start;
    justify-content: flex-start;
    margin-top: 22px; }

.tab-pane.active .karora-product {
  animation: zoomIn 1s; }

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.product-img-overlay {
    width: 100%;
    height: 30%;
    display: flex;
    box-direction: normal;
    box-orient: vertical;
    flex-direction: column;
    box-pack: justify;
    justify-content: space-between;
    z-index: 1; }


.sidenav-button.sidenav-close,.filter-input label:before, .sidebar-widget .widget_conent .searchform__submit, .homepage-slider 
.slick-btn, .homepage-slider .slick-dots, .homepage-slider .slick-dots li button:before, .static-slider 
.single-static-slide .static-slide-text, .custom-checkbox label:before, .newsletter-form-2 button, 
.product-img .secondary-image, .product-img-overlay, .nav-top .slick-btn, .nav-vertical-center .slick-btn, 
.nav-horizontal-center .slick-btn, .promo__content, .comment .reply {
  position: absolute; }

.product-label {
  font-weight: 400;
  text-align: center;
  width: 60px;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 15px;
  padding: 0 16px;
  background: #343434;
  border-radius: 3px; }

.scroll-to-top, .tweet, .corporate h3, .corporate-2 h3, .header-toolbar-3 
.header-toolbar-icons li.mini-cart-icon a.bordered-icon, .footer-widget .widget-title, .footer a:hover, 
.mobile-menu .mean-bar .mean-nav > ul li a, .mobile-menu .mean-bar .mean-nav ul li a.mean-expand, 
.product-label, .product-content h4 a, .widget-product .product-title a, .product-modal .product-title, 
.product-modal .product-options h3, .product-modal .product-action-bottom a, .product-tab__link.nav-link, 
.banner__name, .blog__title a, .product-details-options h3, .product-details-action-bottom a, 
.product-details-tab-link.active, .product-details-tab-link:hover {
  color: #ffffff; }

.btn-transparent {
    background-color: rgba(46, 46, 46, 0.5); }

.btn-fullwidth {
    width: 100%;
    display: block; }

.btn-medium {
    line-height: 10px;
    text-align:center; }

.product-content {
  padding: 5px 0 0; }

.product-content  span {
    color: #afafaf;
    font-size: 15px;
    margin: 16px 0px;
    display: inline-block; }

.product-content h4 {
    padding-bottom: 5px;
    margin-bottom: 16px;
    background: url(../img/line.png) no-repeat center bottom; }

.product-content h4 a {
      display: block;
      text-transform: capitalize;
      font-size: 15px;
      font-weight: 400;
      font-family: Prata-Regular, sans-serif;
      line-height: 1.7; }

.product-price-wrapper {
  display: block;
  transition: all 0.3s ease 0s; }

.product-price-wrapper  span {
    color: #a8741a;
    margin: 0 2px;
    font-size: 1.8rem;
    font-weight: 500; }

.product-price-wrapper .product-price-old span {
      text-decoration: line-through !important;
      color: #afafaf;
      font-size: 16px;
      font-weight: 400; }

.product-rating i {
  color: #545454;
  display: inline-block;
  font-size: 15px; }

.product-action {
  display: flex;
  flex-wrap: wrap;
  box-pack: center;
  justify-content: center;
  margin: 0; }



/*single product veiw*/
.modal {
  display: block !important;
  z-index: -9;
  padding-right: 0 !important; }

.modal.show {
  z-index: 1050; }

.product-modal .modal-dialog {
  max-width: 95%;
  width: 95%;
  margin: 75px auto 50px;
  background: #242424; }
  
.product-modal .modal-content {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: transparent; }

.product-modal .modal-body {
  padding: 32px 32px 112px 32px; 
font-size: 15px;}

.product-modal .modal-footer {
  padding: 32px 0; }

.product-modal .close {
  padding: 0;
  opacity: 1;
  text-shadow: 0 0 0 rgba(255, 255, 255, 0);
  background-color: transparent;
  border: none;
  margin: 5px 5px 5px auto;
  cursor: pointer;
  border-width: 0px;
  color: #ea4a30; }



.product-details-thumbnail .thumb-menu .slick-prev {
  left: 16px; }

.product-details-thumbnail .thumb-menu .slick-next {
  right: 16px; }

.product-details-thumbnail .thumb-menu:hover .slick-prev {
  left: 0; }

.product-details-thumbnail .thumb-menu:hover .slick-next {
  right: 0; }


.product-details-thumbnail .thumb-menu-item {
  margin: 0 16px; }


.product-details-thumbnail.vertical .thumb-menu-item {
    margin: 8px 0rem; }

.product-modal .product-thumbnail .thumb-menu-item {
  padding: 0 8px; }
  .product-modal .product-thumbnail .thumb-menu-item a {
    padding: 0; }

.nav-link img{
  width: 130px;
  float: left;
  padding: 10px;
}

.product-modal .product-thumbnail .thumb-menu .slick-list {
  margin: 0 -8px; }

.btn-style-2 {
    color: #fff;
    padding: 15px;
    font-size: 15px;
    margin-left: 30px; }

.btn-style-2:hover {
      background-color: #2e2e2e;
      color: #fff !important; }


.quantity-input {
    background-color: #2e2e2e;
    width: 50px;
    height: 50px;
    font-size: 25px;
    color: #afafaf;
    border: 1px solid #2d2d2d;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    appearance: none; }


.form-group select{
  background-color: #2e2e2e;
  color: #ffff;
  padding: 10px 30px;
  border-radius: 5px;
}

.product-tags a{
 font-size: 15px; }




/*footer*/
.footer-widget .widget-title {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 32px; }

.footer-widget .widget-menu li {
  margin-bottom: 16px; }

.footer-widget .widget-menu a {
  font-weight: 400;
  line-height: 1.3;
  display: block; 
  color: #afafaf;
  font-size: 20px;}

.footer-widget .widget-menu a:hover {
    padding-left: 7px; }

.footer-widget .widget-product .product-box {
  margin-top: 0; }

.footer-widget .widget-product .product-box:not(:last-child) {
    border-bottom: 1px solid #2d2d2d;
    margin-bottom: 24px;
    padding-bottom: 24px; }

.footer-menu {
  border-top: 1px solid #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
  text-align: center; }


.footer-menu li {
    display: inline-block;
    padding: 24px 0; }

.footer-menu li:not(:last-child) {
      margin-right: 60px; }
      
.footer-menu li {
  margin-bottom: 20px; } }

.footer-menu a {
    display: block;}

.copyright-text {
  line-height: 1; 
  font-size: 15px;}

.copyright-text a:hover {
    text-decoration: underline; }

.border-top, .border-bottom, .border-left, .border-right {
  border-color: #2d2d2d !important; }

.ptb--40 {
  padding: 60px 0 !important; }

.mb--40 {
  margin-bottom: 60px !important; }

.mb--20 {
  margin-bottom: 30px !important; }

.widget-content p{
    font-family: Rubik-Regular, sans-serif;
    color: #afafaf;
    line-height: 2;
    font-weight: 400;
    font-size: 20px;}

.widget-product .product {
  display: flex; }

.widget-product .product:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #2d2d2d; }

.widget-product .product-img {
    height: 128px;
    width: 128px;
    margin-top: 9px; }

.widget-product .product-content {
    padding-left: 24px;}

.widget-product .product-title {
    margin-bottom: 0;
    background: none; }

.widget-product .product-title a {
      display: block;
      text-transform: capitalize;
      font-size: 15px;
      font-family: Prata-Regular, sans-serif; }

.footer-menu li a{
  color: #afafaf;
  font-size: 15px;}

.widget-product .product-rating i {
      font-size: 15px;
      padding: 0; }
  
.widget-product .product-price-wrapper > span {
      font-size: 13px; }

.widget-product .product-price-wrapper > span.product-price-old {
        color: #afafaf;
        text-decoration: line-through;
         font-size: 10px; }

.scroll-to-top{
  font-size: 30px;
  padding: 5px;
  border-radius: 5px;
}
/*footer
