/*All page CSS*/

/*fonts*/
@font-face{
    font-family:DancingScript-Regular;
    src:url(../fonts/Dancing_Script/DancingScript-Regular.ttf);}

@font-face{
    font-family:Prata-Regular;
    src:url(../fonts/Prata/Prata-Regular.ttf);}

@font-face{
    font-family:Rubik-Regular;
    src:url(../fonts/Rubik/Rubik-Regular.ttf);}

html {
  font-size: 10px; }

body {
  font-size: 24px;
  font-family:Rubik-Regular, sans-serif;
  color: #afafaf;
  line-height: 1.4;
  font-weight: 400;
  overflow-x: auto;
  overflow-y: auto; }

  h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: #ffffff;
  font-family:Prata-Regular, sans-serif; }

p {
  font-size: 15px;
  color: #afafaf;
  font-weight: 400;
  line-height: 1.6; }

input::input-placeholder, textarea::input-placeholder {
  color: #afafaf; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  max-width: 100%; }

a:hover {
  color: #a8741a !important;
  text-decoration: none; 
  cursor: pointer;}


a, a:hover, a:focus, a:active, button, button:focus,
input, select, textarea, .slick-slide, .slick-slide:focus, .slick-slide:active {
  outline: none; }

button {
  cursor: pointer; }

/*start Header*/
.bg-shaft {
  background-color: #242424; }

.header-top {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #2d2d2d; }

.header-top-nav__item {
    padding: 0 32px;
    border-left: 1px solid #2d2d2d;
    line-height: 1.2; }

.header-top-nav__item:last-child {
    border-right: 1px solid #2d2d2d; }

.header-top-1 .header-top-nav__item:first-child {
    border-left: 0;
    padding-left: 0; }

.header-top-1 .header-top-nav__item:last-child {
    border-right: 0;
    padding-right: 0; }

.header-top-1 {
    padding: 0;
    position: relative; }

.header-top-1 .header-top-nav__item:nth-child(2) {
      border-left: 0;
      padding-left: 0; }

.header-top-1 .header-top-nav__item:last-child {
      border-right: 0;
      padding-right: 0; }

.header-text {
  color: #fff;
  margin: 0;
  font-size: 12px; }

@media (max-width: 990px) {
    .header-text {
      padding: 24px 0;
      border-bottom: 1px solid #2d2d2d;
      width: 100%;
      text-align: center; } }

.header-text span {
    color: #a8741a; }

.header-middle {
  border-bottom: 1px solid #2d2d2d; }

.header-toolbar {
  display: box;
  display: flex;
  box-pack: end;
  justify-content: flex-end; }

.header-toolbar-icons {
    display: box;
    display: flex;
    box-pack: end;
    justify-content: flex-end;
    margin-left: 8px; }

.header-toolbar-icons li {
      display: inline-block; }

.header-toolbar-icons li .bordered-icon {
        min-width: 72px;
        height: 45px;
        line-height: 68px;
        text-align: center;
        display: box;
        display: flex;
        box-pack: center;
        justify-content: center;
        box-align: center;
        align-items: center;
        color: #ffffff;
        border-radius: 4px;}

.header-toolbar-icons li:nth-child(2) {
        margin: 0 -17px 0 -16px; }

.header-toolbar .header-toolbar-icons {
    margin-left: 16px; }

.search-form {
  display: flex;
  align-items: center;}


.dropdown-item{
  color: #ffffff;
  padding: 10px;
}

.dropdown-menu {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  right: 0 !important;
  left: auto !important;
  min-width: 16rem;
  z-index: 99999999;
  background: #343434;
  cursor: pointer;
  margin-right: 2px;
  font-size: 15px;}


.search-form__input {
    height: 45px;
    width: 100px;
    font-size: 20px;
    color: #fff;
    padding-left: 15px;
    border: 1px solid #2d2d2d;
    background-color: #242424;
    border-right: 0; }

.fas:hover{
    color: #a8741a;
}
.search-form__submit {
    width: 75px;
    height: 45px;
    line-height: 65px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 0 4px 4px 0px;
    background-color: #242424;
    border: 1px solid #2d2d2d; }
  
.header-bottom {
  border-bottom: 1px solid #2d2d2d; }

.contact-info {
  display: flex;
  box-align: center;
  align-items: center; }

.contact-info p {
    margin-bottom: 0;
    font-size: 20px;
    padding-left: 24px;
    line-height: 1; }

.mr-20 {
  margin-right: 36px !important; }

.bg-light{
  background-color: #242424 !important;
}
.mainmenu__item{
  padding-left: 70px !important;
}
.mainmenu__link{
  color: #ffff !important;
  padding-right: 10px !important;
}

.navbar-light .navbar-toggler{
  background-color: #A8741A !important;
  font-size: 20px !important;
}

/*Social Icon*/
.social-round .social__item:not(:last-child) {
  margin-right: 3.2px; }

.social-round .social__link {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #2f2f2f;
  color: #afafaf;
  font-size: 18px; }

.social-round .social__link:hover {
    color: #fff !important; }

.social__item {
  display: inline-block; }

.social__item:not(:last-child) {
    margin-right: 48px; }

.social__link {
  display: block;
  color: #838383;
  font-size: 28.8px; }

.header-top-nav__item.currency-selector {
        text-align: right; }

#currencyID, #languageID, #userID{
    font-size: 15px;
    color: #ffffff;}

.user-info{
    line-height: 25px;
}

/*firstheader and middle area ends here */

/*bottomheader area ends here */
.header-bottom {
  border-bottom: 1px solid #2d2d2d; }

.mainmenu__item  a {
    padding: 10px 30px;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    text-transform: capitalize;
    font-weight: 400;
    display: block;
    font-family: Prata-Regular, sans-serif; }

.mainmenu__item {
    display: inline-block;
    font-size: 22.4px;
    font-weight: 400;
    line-height: 38.4px;
    text-transform: capitalize;
    color: #afafaf; }

.mini-cart-icon a{
    font-size: 25px;
    color: #fff;
    display: inline-block;
    line-height: 2;
    border-right: 1px solid #323232;
    padding: 0 16px 0 27px; }
/*all Header Area End*/
a{
  color: #afafaf;
}

/*Main Content Wrapper Start*/
/*bottomheader area ends here */



.bg--2 {
  background-color: #343434; }

.breadcrumb-area {
  padding-top: 64px;
  padding-bottom: 50px; }
 
.breadcrumb-area .page-title {
    font-size: 50px;
    text-transform: capitalize; }
    
.breadcrumb-area .breadcrumb {
    margin-bottom: 0;
    background-color: transparent;
    padding: 0; }

.breadcrumb-area .breadcrumb li {
      display: inline-block; }

.breadcrumb-area .breadcrumb li {
        padding-right: 18px;
        margin-right: 8px; }

.breadcrumb-area .breadcrumb li:not(:last-child):after {
          content: '/';
          right: 0;
          top: 1px; }

.breadcrumb-area .breadcrumb li a {
        font-size: 30px; }

.breadcrumb-area .breadcrumb li.current a, .breadcrumb-area .breadcrumb li a:hover, .tweet i, .tweet a,
.dropdown-item:hover, .corporate-2:hover i, .header-toolbar-icons li .bordered-icon:hover, .contact-info p,
.copyright-text a, .copyright-text a:hover, .recent-post-content h4 a:hover, .mainmenu__item.active > a,
.mainmenu__item.active > a:after, .mainmenu__item > a:hover, .mainmenu__item > a:hover:after,
.mini-cart__ammount i, .homepage-slider .single-slider .slider-content h5, .homepage-slider
.single-slider .slider-content p strong, .static-slider .single-static-slide .static-slide-text p,
.account-form h4, .search-form__submit:hover, .product-rating i.theme-star, .widget-product .product-rating i,
.widget-product .product-price-wrapper > span, .ratings i.rated, .product-modal .product-detail-list li a, 
.product-modal .product-price .sale-price, .nav-top .slick-btn:hover i, .product-tab__link.nav-link:hover, 
.product-tab__link.nav-link.active, .user-dashboard-tab__head .nav-link.active, .promo__name, .promo__link, 
.banner__notice, .banner__label, .banner__name span, .accordion__link:hover, .blog__meta p a, 
.blog .read-more, .post-title a:hover, .post .footer-meta a:hover, .cart-calculator-table td .price-ammount, 
.order-table .table tr.order-total td span, .comment .reply, .error h1, .product-details-content 
.ratings-wrap a:hover, .product-details-list li a, .product-details-price-wrapper > span, 
.product-details-action-bottom a:hover, .product-details-slider .slick-btn:hover {
  color: #a8741a; }

.scroll-to-top, .tooltip-inner, .pagination li a:hover, .pagination li a.current, .btn-style-1:hover, .btn-style-2, .btn-style-3, .homepage-slider .slick-btn:hover, .homepage-slider .slick-dots li.slick-active button:before, .homepage-slider .slick-dots li button:hover:before, .form__submit:hover, .product-label.discount, .product-action a:hover, .comment .reply:hover, .primary-bg {
  background-color: #a8741a; }

.btn-style-3 {
    color: #fff;
    padding: 10px;
    font-size: 15px;
    margin-right: 20px; }

.btn-style-3:hover {
      background-color: #444444;
      color: #fff !important; }

.user-actions__single h3 {
  background-color: #343434;
  border-top: 3px solid #a8741a;
  padding: 32px 24px;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 32px; }


.user-actions__single h3 span {
    color: #afafaf;
    cursor: pointer; }

.user-actions__single h3 i {
    padding-right: 16px;
    color: #a8741a; }

.user-actions__form {
  border: 1px solid #2d2d2d;
  border-radius: 3px;
  padding: 32px 24px 24px;
  margin-bottom: 32px;
  background: #343434;
  font-size: 20px;  }

.hide-in-default {
    display: none;
}


.table td, .table th {
    padding: 12px;
    vertical-align: top;
    border-top: 1px solid #dee2e6}

.order-table{
  margin-bottom: 50px;
}
.user-actions--coupon {
  padding: 32px;
  border-radius: 5px; }

.checkout-wrapper {
  padding:24px; }

.checkout-title h2 {
  border-bottom: 1px solid #2d2d2d;
  font-size: 32px;
  margin: 0 0 32px;
  padding-bottom: 16px; }

.new-account {
  padding-top: 32px; }

.order-details {
  background-color: #2e2e2e;
  padding: 30px 20px;
  font-size: 20px; }

.order-details .heading-tertiary {
    margin: 0 0 32px;
    padding-bottom: 16px;
    border-bottom: 1px solid #2d2d2d; }

.payment-group {
  margin-bottom: 32px; }

.payment-label {
  color: #afafaf;
font-size: 15px;}

.payment-label img {
    max-height: 80px;
    margin: 0 16px; }

.payment-label a {
    font-size: 15px;
    color: #ea4a30; }

.payment-radio input {
  margin-right: 20px; }

.payment-info {
  padding-top: 14px;
  padding-left: 30px; }

.payment-info p {
    font-size: 15px; }

.terms-condition-label a {
  font-size: 19px;
  font-weight: 500;
  font-family: Prata-Regular, sans-serif; }

.terms-condition-label a:hover {
    text-decoration: underline; }

.shipping-method {
  display: flex;
  flex-direction: column;
  align-items: center; }

.shipping-method .custom-radio {
    width: 240px; }

.form.cart-form .form__group {
  flex-wrap: wrap; }

.form-row {
  margin-left: -16px;
  margin-right: -16px;
  font-size: 20px; }

.form__label {
  color: #afafaf; 
  font-size: 20px;}

.form__label sup {
    color: red; }

.form__input {
  background-color: #242424;
  color: #afafaf;
  padding-left: 24px;
  width: 100%;
  height: 64px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 20px; }

.form__input--2 {
    height: 50px; }

.form__input:focus {
    border-color: #555; }

.form__input--textarea {
    height: 160px;
    padding-top: 16px; }

.form__input.nice-select .list {
    width: 100%;
    width: 100%;
    height: 400px;
    overflow-y: auto; }

.form__submit {
  border-radius: 4px;
  background-color: #2e2e2e;
  color: #afafaf;
  padding: 19px 29px;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  font-weight: 500; }

.form__submit:hover {
    color: #fff; }

.form__submit--2 {
    padding: 24px 48px;
    font-size: 26px; }

.form__output {
  text-align: right;
  margin-top: .5rem; }

.form__output.success {
    color: #4cbb6c; }

.form__output.error {
    color: #ea4a30; }

.form .help-block {
  font-size: 24px; }

.form .help-block span {
    color: #a43d21; }

.form.cart-form .form__group {
  flex-wrap: wrap; }

.form.cart-form .form__input {
  color: #ffffff;
  padding: 10px 16px 8px;
  width: 26rem; }


.form.shipping-form {
  background: #545454;
  padding: 32px 16px; }

.form.shipping-form .form__input {
    margin-bottom: 16px;
    border: none; }

.form.quick-login-form .form__label {
  display: block;
  color: #ffffff; }

.form.quick-login-form .form__input {
  margin-bottom: 24px;
  height: 58px;
  width: 590px; }

.form .forgot-pass {
  margin: 13px 0;
  color: #ea4a30;
  display: inline-block; }

.form .forgot-pass:hover {
    color: #b90b0b !important; }

.form .nice-select .nice-select-search-box {
  background-color: #212121; }

.form .nice-select .nice-select-search-box input {
    background-color: #242424; }

.form .nice-select .list {
  background-color: #212121; }

.account-form {
  padding: 32px; }

.account-form h4 {
    font-weight: 400;
    margin-bottom: 32px;
    font-size: 23px;
    line-height: 1;
    text-transform: uppercase; }

.address-form {
  padding: 32px; }

.custom-checkbox label a {
      color: #afafaf; }


/*footer*/
.footer-widget .widget-title {
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 32px; }

.footer-widget .widget-menu li {
  margin-bottom: 16px; }

.footer-widget .widget-menu a {
  font-weight: 400;
  line-height: 1.3;
  display: block; 
  color: #afafaf;
  font-size: 20px;}

.footer-widget .widget-menu a:hover {
    padding-left: 7px; }

.footer-widget .widget-product .product-box {
  margin-top: 0; }

.footer-widget .widget-product .product-box:not(:last-child) {
    border-bottom: 1px solid #2d2d2d;
    margin-bottom: 24px;
    padding-bottom: 24px; }

.footer-menu {
  border-top: 1px solid #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
  text-align: center; }


.footer-menu li {
    display: inline-block;
    padding: 24px 0; }

.footer-menu li:not(:last-child) {
      margin-right: 60px; }
      
.footer-menu li {
  margin-bottom: 20px; } }

.footer-menu a {
    display: block;}

.copyright-text {
  line-height: 1; 
  font-size: 15px;}

.copyright-text a:hover {
    text-decoration: underline; }

.border-top, .border-bottom, .border-left, .border-right {
  border-color: #2d2d2d !important; }

.ptb--40 {
  padding: 60px 0 !important; }

.mb--40 {
  margin-bottom: 60px !important; }

.mb--20 {
  margin-bottom: 30px !important; }

.widget-content p{
    font-family: Rubik-Regular, sans-serif;
    color: #afafaf;
    line-height: 2;
    font-weight: 400;
    font-size: 20px;}

.widget-product .product {
  display: flex; }

.widget-product .product:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #2d2d2d; }

.widget-product .product-img {
    height: 128px;
    width: 128px;
    margin-top: 9px; }

.widget-product .product-content {
    padding-left: 24px;}

.widget-product .product-title {
    margin-bottom: 0;
    background: none; }

.widget-product .product-title a {
      display: block;
      text-transform: capitalize;
      font-size: 15px;
      font-family: Prata-Regular, sans-serif; }

.footer-menu li a{
  color: #afafaf;
  font-size: 15px;
}

.widget-product .product-rating i {
      font-size: 15px;
      padding: 0; }
  
.widget-product .product-price-wrapper > span {
      font-size: 13px; }

.widget-product .product-price-wrapper > span.product-price-old {
        color: #afafaf;
        text-decoration: line-through;
         font-size: 10px; }

.scroll-to-top{
  font-size: 30px;
  padding: 5px;
  border-radius: 5px;
}
/*footer*/